.idea/

.xroad-mock-proxy.yaml
coverage/
xroad-mock-proxy

# Test binary, build with `go test -c`
*.test
*.tmp

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride
.directory

